body {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

/* HEADER/NAVBAR */

header {
    height: 70px;
    width: 100%;
    background-color: white;
    position: fixed;
    display: inline-block;
    z-index: 1;
    border-bottom: 3px solid black;
}

header nav ul{
    list-style-type: none;
    margin-right: 100px;
    margin-top: 15px;
    float: right;
}

header nav li {
    display: inline;
}

header nav li a {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 28px;
}

nav ul a:hover {
    background-color: black;
    color: white;
}

header .logo a {
    margin-top: 10px;
    margin-left: 50px;
    float: left;
    margin-top: 15px;
}

.mobiledrop {
    position: fixed;
    float: right;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    clip-path: circle(20px at calc(100% - 85px) 35px);
    -webkit-clip-path: circle(20px at calc(100% - 85px) 35px);
    -moz-clip-path: circle(20px at calc(100% - 85px) 35px);
    -o-clip-path: circle(20px at calc(100% - 85px) 35px);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    display: none;
}

#active:checked ~ .mobiledrop {
    clip-path: circle(75%);
    -webkit-clip-path: circle(75%);
    -moz-clip-path: circle(75%);
    -o-clip-path: circle(75%);
}

#active:checked ~ .mobiledrop ul {
    display: inline;
}

.menubtn {
    position: absolute;
    right: 60px; 
    top: 10px;
    z-index: 2;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: black;
    font-size: 20px;
    cursor: pointer;
    background: white;
    display: none;
}

.mobiledrop ul {
    display: none;
    position: absolute;
    width: 100%;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mobiledrop ul li {
    width: 100%;
    margin: 40px 0;
}

.mobiledrop ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 50px;
    position: relative;
    line-height: 35px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.mobiledrop ul li a:hover {
    color: white;
    font-weight: 900;
}

input {
    display: none;
}

@media only screen and (max-width: 976px) {
    header nav ul {
        margin-right: 50px;
    }
}

@media only screen and (max-width: 927px) {
    header nav ul {
        margin-right: 25px;
    }
}
@media only screen and (max-width: 901px) {
    header .logo a {
        margin-left: 25px;
    }

    header nav ul {
        display: none;
    }

    .mobiledrop {
        display: block;
    } 

    .menubtn {
        display: block;
    }
}

@media only screen and (max-width: 500px) {
    .menubtn {
        right: 25px;
    }

    .mobiledrop {
        clip-path: circle(20px at calc(100% - 50px) 35px);
        -webkit-clip-path: circle(20px at calc(100% - 50px) 35px);
        -moz-clip-path: circle(20px at calc(100% - 50px) 35px);
        -o-clip-path: circle(20px at calc(100% - 50px) 35px);
    }
}

@media only screen and (max-width: 280px) {
    header .logo img {
        width: 150px;
    }
}

/* DROPDOWN MENU */

.dropbtn {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    border-radius: 28px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdowncontent {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.2);
    transform: translateY(-3em);
    z-index: 1;
    transition: all 0.3s ease 0s, visibility 0s, linear 0.3s, z-index 0s linear 0.01s;
}

.dropdowncontent a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    display: block;
}

.dropdowncontent a:hover {
    background-color: white;
    color: black;
    font-weight: 900;
}

.dropdown:hover .dropdowncontent {
    display: block;
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.3s;
}

.dropdown:hover .dropbtn {
    background-color: black;
    color: white;
} 

/* INTRODUCTION */
.background {
    background: url(images/IMG_2279.JPG);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.introduction {
    background-color: rgba(104, 136, 230, 0.5);
    float:right;
    height: 100%;
    width: 100%;
    margin-right: 0px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introduction h1 {
    font-size: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.introduction h3 {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

@media only screen and (max-width: 2428px) {
    .background {
        background: url(images/IMG_2279.JPG);
        width: 100%;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (max-width: 994px) {
    .introduction h1 {
        font-size: 80px;
    }

    .introduction h3 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 725px) {
    .introduction h1 {
        font-size: 70px;
    }

    .introduction h3 {
        font-size: 20px;
    }
}

/* SOCIAL MEDIA BUTTONS */

.introduction .socialmedia {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    padding-top: 40px;
}

.wrapper {
    display: inline-flex;
}

.wrapper .icon {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper a {
    color: black;
}

.wrapper .icon span {
    position: relative; 
    height: 60px;
    width: 60px;
    display: block;
    background: white;
    text-align: center;
    border-radius: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.wrapper .icon span i {
    font-size: 25px;
    line-height: 60px;
}

.wrapper .icon:hover span {
    color: white;
}

.wrapper .icon .tooltip {
    position: absolute;
    top: 0px;
    background: white;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}

.wrapper .icon .tooltip:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: white;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.wrapper .icon:hover span, .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}

.wrapper .linkedin:hover span, .wrapper .linkedin:hover .tooltip, .wrapper .linkedin:hover .tooltip:before {
    background: #2867b2;
} 

.wrapper .email:hover span, .wrapper .email:hover .tooltip, .wrapper .email:hover .tooltip:before {
    background: #e1306c;
} 

/* ABOUT */

.aboutsection {
    margin: 0;
    padding-top: 150px;
    top: -70px;
    position: relative;
    margin-bottom: 200px;
}

.abouttitle {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    text-align: center;
    border-bottom: 2px solid black;
}

section {
    width: 100%;
    margin-top: 80px;
    text-align: center;
}

.aboutinfo {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

section .profilepic {
    width: 375px;
    height: 500px;
    background: url(images/IMG_1976.JPG);
    background-size: cover;
}

.aboutinfo .about {
    width: 43%;
    background-color: white;
} 

section .about h3 {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    margin: 0;
    padding-left: 20px;
}

section .about p {
    font-size: 18px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    padding-left: 20px;
}

section .skills {
    width: 23%;
    background-color: white;
}

.skills h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    text-align: left;
    margin: 0;
    padding-left: 20px;
}

.skills ul li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    text-align: left;
    padding: 4px 0;
}

.mobileabout {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: 0px;
}

.mobileprofilepic {
    width: 300px;
    height: 400px;
    background: url(images/IMG_1976.JPG);
    background-size: cover;
}

.mobileaboutdes h3 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mobileaboutdes p {
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mobileskills h3 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mobileskills p {
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    list-style-type: none;
    line-height: 10px;
}

@media only screen and (max-width: 1330px) {
    .aboutinfo {
        width: 1200px;
    }
}

@media only screen and (max-width: 1240px) {
    .aboutinfo {
        width: 1100px;
    }
}

@media only screen and (max-width: 1150px) {
    .aboutinfo {
        width: 1000px;
    }
}

@media only screen and (max-width: 1040px) {
    .aboutinfo {
        width: 880px;
    }
}

@media only screen and (max-width: 915px) {
    .abouttitle {
        font-size: 40px;
        width: 300px;
    }

    section .profilepic {
        width: 300px;
        height: 400px;
    }

    section .about h3 {
        font-size: 20px;
    }

    section .about p {
        font-size: 15px;
    }

    .skills h3 {
        font-size: 20px;
    }

    .skills ul li {
        font-size: 15px;
    }
}

@media only screen and (max-width: 895px) {
    .aboutinfo {
        width: 750px;
    }

    .aboutsection {
        margin-bottom: 80px;
    }
}

@media only screen and (max-width: 775px) {
    .aboutinfo {
        width: 650px;
    }

    .aboutsection {
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 665px) {
    .aboutinfo{
        width: 550px;
        margin-bottom: 0px;
    }

    .aboutinfo, section .profilepic, section .about h3, section .about p, .skills h3, .skills ul li, section .about, section .skills {
        display: none;
    }

    .mobileabout {
        display: block;
    }
}

@media only screen and (max-width: 515px) {
    .aboutinfo {
        width: 400px;
    }
}

@media only screen and (max-width: 415px) {
    .aboutinfo {
        width: 300px;
    }
}

@media only screen and (max-width: 280px) {
    .mobileabout {
        width: 180px;
    }

    .mobileprofilepic {
        width: 180px;
        height: 240px;
    }

    .abouttitle {
        width: 200px;
        font-size: 30px;
    }
}

/* EDUCATION */
.height70 {
    width: 100%;
    height: 70px;
}

.education {
    width: 100%; 
    background-color: #f2f0e6;
}

.education .educationtitle {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    padding-top: 80px;
    margin-bottom: 40px;
    text-align: center;
    border-bottom: 2px solid black;
}

.educationsub {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}


.educationsub .university .unidescription {
    width: 100%;
    background-color: #f2f0e6;
}

.unidescription h3 {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
}

.unidescription h4 {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}

.mobile h4 {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    display: none;
}

.mobile h5 {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    display: none;
}

.mobile2 h4 {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    display: none;
}

.unidescription h4 {
    padding-top: 10px;
}

.location {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    padding-top: 10px;
    color: royalblue;
    text-align: center;
}

.unidescription p {
    margin: 0;
    padding-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 25px;
}

.highschool {
    margin-top: 40px;
    padding-bottom: 90px;
}

.education .highschool .hsdescription {
    width: 100%;
    background-color: #f2f0e6;
}

.hsdescription h3 {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
}

.hsdescription h4 {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    padding-top:10px;
    text-align: center;
}

.hsdescription p {
    margin: 0;
    padding-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 25px;
}

@media only screen and (max-width: 1315px) {
    .educationsub {
        width: 1200px;
    }
}

@media only screen and (max-width: 1215px) {
    .educationsub {
        width: 1100px;
    }
}

@media only screen and (max-width: 1115px) {
    .educationsub {
        width: 1000px;
    }
}

@media only screen and (max-width: 1015px) {
    .educationsub {
        width: 900px;
    }

    .unidescription h4 {
        display: none;
    }

    .mobile h4, .mobile h5 {
        display: block;
    }

    .highschool {
        margin-top: 100px;  
    }
}

@media only screen and (max-width: 915px) {
    .education .educationtitle {
        font-size: 40px;
        width: 300px;
    }

    .educationsub {
        margin-top: 30px;
        width: 800px;
    }

    .unidescription h3, .hsdescription h3 {
        font-size: 20px;
    }

    .mobile h4, .mobile h5, .unidescription p, .location, .hsdescription h4, .hsdescription p {
        font-size: 15px;
    }

    .unidescription p, .hsdescription p {
        line-height: 22px;
    }
}

@media only screen and (max-width: 815px) {
    .educationsub {
        width: 700px;
    }
}

@media only screen and (max-width: 715px) {
    .educationsub {
        width: 600px;
    }

    .mobile h4, .mobile h5 {
        display: none;
    }

    .mobile2 h4 {
        display: block;
    }
}

@media only screen and (max-width: 615px) {
    .educationsub {
        width: 500px;
    }
}

@media only screen and (max-width: 515px) {
    .educationsub {
        width: 480px;
    }
}

@media only screen and (max-width: 415px) {
    .educationsub {
        width: 300px;
    }

    .hsdescription p {
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 280px) {
    .educationsub {
        width: 200px;
    }

    .education .educationtitle {
        font-size: 30px;
        width: 200px;
    }

    .highschool {
        margin-top: 40px;
    }
}

/* PROJECTS */

.projects {
    width: 100%; 
    background-color: white;
    padding-top: -70px;
    margin-top: 10px;  
}

.projectstitle {
    padding-bottom: 20px;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;
    padding-top: 80px;  
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    border-bottom: 2px solid black;
    width: 400px;
}

::before, ::after {
    margin:0;
    padding: 0;
}

.projectlist {
    width: 1300px;
    margin: 0 auto;
    padding: 0;
}

.accordian {
    width: 100%;
}

.accordian-item {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: #f2f0e6;
    box-shadow: 10px 2px 10px rgba(0,0,0,0.1);
    padding: 20px 0px;
    border-radius: 20px;
}

.accordian-link {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background-color: #f2f0e6; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.accordian-link i {
    margin-right: 30px;
}

.accordian-link p {
    margin: 0;
    margin-left: 30px;
}

.accordian-link i {
    color: black;
    padding: 0;
}

.accordian-link .fa-minus {
    display: none;
}

.projectdescription {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #d9d8cf;
    margin: 0 30px;
    transition: max-height 650ms;
}

.projectdescription::before {
    content: ""; 
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: #5d8a98;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.projectdescription .p1photo {
    position: relative;
    height: 150px;
    width: 144px;
    background: url(images/gearbox.png);
    background-size: cover;
    border-radius: 50%;
    top: 30px;
    margin-bottom: 55px;
    margin-left: 50px;
    float: left;
    padding: 10px;
}

.p1description {
    width: 80%; 
    float: right;
    margin-top: 40px;
    padding-right: 30px;
}

.projectdescription .p5photo {
    position: relative; 
    height: 400px;
    width: 241px;
    background: url(images/sack.png);
    background-size: cover;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
}

.mobileed {
    display: none;
}

.p1photomob {
    position: relative;
    height: 150px;
    width: 144px; 
    background: url(images/gearbox.png);
    background-size: cover;
    border-radius: 50%;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.p1mobiledes {
    width: 100%;
    padding: 10px 10px;
}

.mobileed2 {
    display: none;
}

.p5photomob {
    position: relative; 
    height: 332px;
    width: 200px;
    background: url(images/sack.png);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    top: 30px;
    margin-bottom: 20px;
}

.p5mobiledes {
    width: 100%;
    padding: 10px 10px;
}

.p5description {
    width: 70%;
    float: right;
    padding-right: 30px;
    margin-top: 70px;
}

.projectdescription p {
    color: black;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 20px;
}

@media only screen and (max-width: 1500px) {
    .projectlist {
        width: 1200px;
    }

    .projectdescription .p1photo {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 1380px) {
    .projectlist {
        width: 1000px;
    }

    .p1description {
        padding-right: 0px;
        margin-top: 25px;
    }

    .projectdescription .p5photo {
        margin-left: 20px;
    }

    .p5description {
        padding-right: 0px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1200px) {
    .projectlist {
        width: 800px;
    }

    .p1description {
        width: 70%;
        margin-top: 0px;
    }

    .projectdescription .p5photo {
        height: 332px;
        width: 200px;
        margin-top: 60px;
    }

    .p5description {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 1000px) {
    .projectlist {
        width: 600px;
    }

    .p1description {
        width: 60%;
    }

    .projectdescription .p1photo {
        margin-top: 35px;
    }

    .mobileed2 {
        display: block;
    }

    .projectdescription .p5photo {
        display: none;
    }

    .p5description {
        display: none;
    }
}

@media only screen and (max-width: 915px) {
    .projectstitle {
        font-size: 40px;
        width: 300px;
    }

    .projectdescription p {
        font-size: 15px;
    }

    .accordian-link {
        font-size: 19px;
    }

    .p1description {
        margin-top: 5px;
    }

    .projectdescription .p1photo {
        margin-top: 5px;
    }
}

@media only screen and (max-width: 815px) {
    .projectlist {
        width: 700px;
    }

    .projectstitle {
        margin-bottom: 40px;
    }

    .projectdescription .p1photo {
        display: none;
    }

    .p1description {
        display: none;
    }

    .mobileed {
        display: block;
    }
}

@media only screen and (max-width: 715px) {
    .projectlist {
        width: 600px;
    }
}

@media only screen and (max-width: 615px) {
    .projectlist {
        width: 500px;
    }
}

@media only screen and (max-width: 515px) {
    .projectlist {
        width: 400px;
    }

    .projects {
        margin-top: 110px;
    }
}

@media only screen and (max-width: 415px) {
    .projects {
        margin-top: 0px;
    }

    .projectlist {
        width: 300px;
    }
}

@media only screen and (max-width: 280px) {
    .projectlist {
        width: 180px;
    }

    .projectstitle {
        font-size: 30px;
        width: 200px;
    }
} 

/* FOOTER */

footer {
    position: absolute;
    margin-top: 115px;
    margin-bottom: 0;
    width: 100%;
    height: 150px;
    background-color: white;
    border-top: 3px solid lightgrey;
    text-align: center;
}

footer .fab, footer .far {
    padding: 10px;
    font-size: 25px;
    width: 25px;
    margin-left: 10px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
}

footer .fa-linkedin-in {
    background: white;
    color: black;
    border: 2px solid black;
}

footer .fa-envelope {
    background: white;
    color: black;
    border: 2px solid black;
}

footer p a:hover {
    background: black;
    color: white;
}

footer p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.footernav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

.footernav a {
    color: black;
    text-decoration: none;
}

.footernav a:hover {
    color: royalblue;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    footer p {
        font-size: 15px;
    }

    footer .fab, footer .far {
        font-size: 18px;
        width: 18px;
    }

    .footernav {
        font-size: 12px;
    }
}

@media only screen and (max-width: 415px) {
    .footernav {
        font-size: 10px;
    }
}

@media only screen and (max-width: 320px) {
    .footernav {
        font-size: 9px;
    }
}
